{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}

{% block body %}
<h1> {{ title }} </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit recusandae placeat consequuntur magnam assumenda. Adipisci quas veritatis facilis tempora voluptatibus, qui modi voluptates fugiat omnis eius eveniet vel commodi sed? Ratione esse sint eveniet ipsum exercitationem sequi repellendus earum autem debitis ab sit vel expedita sapiente, architecto molestias ipsa suscipit voluptates adipisci accusamus perspiciatis ad laborum. Obcaecati, vel et. Ut assumenda consequatur dolor, vel esse odit temporibus tempore fugiat dignissimos facilis deserunt ex tempora eveniet sunt ab numquam id repellendus.</p>
{% endblock %}